.page.theme_dark {
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --decorated-title-color: #db00ff;
  --decorated-title-shadow-color: #ff0070;
  --decorated-title-accent-shadow-color: #ff0070;
  --main-text-color: #ff0070;
  --translucent-text-color: rgb(255 0 112 / 0.4);
  --colored-background: #ff0070;
  --colored-text: #000028;
  --paragraph-text: #f1b2ce;
  --sign-text: #ff0070;
  --sign-circle: #ff0070;
  --link-shadow-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000028;
    --background-image: url(../images/cover-image-dark.png);
    --decorated-title-color: #db00ff;
    --decorated-title-shadow-color: #ff0070;
    --decorated-title-accent-shadow-color: #ff0070;
    --main-text-color: #ff0070;
    --translucent-text-color: rgb(255 0 112 / 0.4);
    --colored-background: #ff0070;
    --colored-text: #000028;
    --paragraph-text: #f1b2ce;
    --sign-text: #ff0070;
    --sign-circle: #ff0070;
    --link-shadow-color: #ff0070;
  }
}
