.page.theme_light {
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --decorated-title-color: #ffc2e6;
  --decorated-title-shadow-color: #ff8dcb;
  --decorated-title-accent-shadow-color: #ff0070;
  --main-text-color: #353430;
  --translucent-text-color: rgba(50, 49, 45, 0.4);
  --colored-background: #ff8dcb;
  --colored-text: #353430;
  --paragraph-text: #353430;
  --sign-text: transparent;
  --sign-circle: transparent;
  --link-shadow-color: #ff8dcb;
}

@media (min-width: 768px) {
  :root {
    --link-shadow-color: #f1b2ce;
  }
}
